<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SavingState.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
		<add key="defaultCities" value="LaGuardia,GHCND:USW00014732;Hialeah,GHCND:USC00083909;Barrow,GHCND:USW00027502;Harlingen,GHCND:USC00413943"/>
		<add key="CdoServiceToken" value="ACVOrAoTJdIFZdcZMFcZdRxNqTgTvstu"/>
	</appSettings>
 <userSettings>
  <SavingState.Properties.Settings>
   <setting name="MainWindowState" serializeAs="String">
    <value>Maximized</value>
   </setting>
   <setting name="MainWindowBounds" serializeAs="String">
    <value>0,0,1200,800</value>
   </setting>
   <setting name="MainWindowTab" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="SelectedCountry" serializeAs="String">
    <value>US</value>
   </setting>
   <setting name="SelectedStationId" serializeAs="String">
    <value>GHCND:USC00361212</value>
   </setting>
   <setting name="SelectedYear" serializeAs="String">
    <value>2017</value>
   </setting>
   <setting name="ApiEx_Endpoint" serializeAs="String">
    <value>Datasets</value>
   </setting>
   <setting name="ApiEx_Parameters" serializeAs="String">
    <value />
   </setting>
   <setting name="ApiEx_IncludePaging" serializeAs="String">
    <value>True</value>
   </setting>
  </SavingState.Properties.Settings>
 </userSettings>
</configuration>